aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-default-group==1.2.4
colorama==0.4.6
cryptography==45.0.4
decorator==5.2.1
dnspython==2.7.0
edf-api==1.0.0
executing==2.2.0
ffmpeg-python==0.2.0
filelock==3.19.1
Flask==3.1.1
flask-cors==6.0.1
Flask-Dance==7.1.0
frozenlist==1.7.0
ftfy==6.3.1
future==1.0.0
gallery_dl==1.30.4
humanize==4.12.3
idna==3.10
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jwt==1.3.1
library==3.0.113
lxml==5.4.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
modbus==3.2
multidict==6.5.1
mutagen==1.47.0
natsort==8.4.0
numpy==2.3.2
oauthlib==3.3.0
parso==0.8.4
pluggy==1.6.0
praw==7.8.1
prawcore==2.4.0
prompt_toolkit==3.0.51
propcache==0.3.2
pure_eval==0.2.3
puremagic==1.30
pycparser==2.22
pycryptodome
Pygments==2.19.2
pymongo==4.13.2
pyreadline3==3.5.4
pysubs2==1.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-mpv-jsonipc==1.2.1
pillow
regex==2025.7.34
requests==2.32.4
requests-file==2.1.0
requests-oauthlib==2.0.0
rich==14.1.0
screeninfo==0.8.1
six==1.17.0
soupsieve==2.7
sqlite-fts4==1.0.3
sqlite-utils==3.38
stack-data==0.6.3
startrek==2.2.2
streamlit
tabulate==0.9.0
tcp==2.2.2
tinytag==2.1.2
tldextract==5.3.0
traitlets==5.14.3
typing_extensions==4.14.1
update-checker==0.18.0
urllib3==2.5.0
URLObject==2.4.3
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
yarl==1.20.1
yt-dlp==2025.8.11
imghdr-py==0.4.1
